swagger: '2.0'
info:
  title: Precificação
  description: >-
    Essa API auxiliará na formação de preços dos mais variados produtos. Com
    cálculos de custo, de preço de venda e de margem de lucro.
  version: 1.0.0
  contact:
    name: Fernando Júnior
    email: fernando.junior@thorgus.com
  license:
    name: Licença BSD
    url: 'https://opensource.org/licenses/BSD-3-Clause'
host: thorgus.com
basePath: /api/precos/v1
schemes:
  - http
tags:
  - name: venda
    description: Preço de Venda do produto.
    externalDocs:
      description: Veja mais detalhes sobre os cálculos.
      url: 'https://github.com/junioweb/precificacao'
  - name: lucro
    description: Margem de Lucro sobre o Custo Total Unitário.
    externalDocs:
      description: Veja mais detalhes sobre os cálculos.
      url: 'https://github.com/junioweb/precificacao'
  - name: custo
    description: Custo Total Unitário do produto.
    externalDocs:
      description: Veja mais detalhes sobre os cálculos.
      url: 'https://github.com/junioweb/precificacao'
paths:
  /venda:
    get:
      tags:
        - venda
      summary: Calcule o Preço de Venda do produto
      description: >-
        Aqui é retornado o preço de venda do produto, de acordo com os dados
        passados no parâmetro. 

        Fórmula:

        P = C(1+M)/(1-E) 

        Legenda:

        P - Preço de Venda

        C - Custo Total Unitário

        M - Margem de Lucro

        E - Encargos
      produces:
        - application/xml
        - application/json
      parameters:
        - name: custo
          in: query
          description: >-
            Custo Total Unitário. Resultado da soma entre Custo Direto e
            Indireto.
          required: true
          type: number
          format: float
        - name: encargos
          in: query
          description: Porcentagem sobre o Preço de Venda.
          required: true
          type: number
          format: float
        - name: lucro
          in: query
          description: Margem de Lucro aplicada sobre o Custo Total Unitário.
          required: true
          type: number
          format: float
      responses:
        '200':
          description: Cálculo realizado com sucesso.
          schema:
            $ref: '#/definitions/Venda'
        '400':
          description: Erro na Requisição (Parâmetros inválidos).
  /lucro:
    get:
      tags:
        - lucro
      summary: Calcule a Margem de Lucro aplicada sobre o Custo Total Unitário.
      description: >-
        Aqui é retornada a margem de lucro aplicada sobre o Custo Total
        Unitário, de acordo com os dados passados no parâmetro. 

        Fórmula:

        M = P(1-E)-C/C 

        Legenda:

        P - Preço de Venda

        C - Custo Total Unitário

        M - Margem de Lucro

        E - Encargos
      produces:
        - application/xml
        - application/json
      parameters:
        - name: venda
          in: query
          description: Preço de Venda do produto.
          required: true
          type: number
          format: float
        - name: custo
          in: query
          description: >-
            Custo Total Unitário. Resultado da soma entre Custo Direto e
            Indireto.
          required: true
          type: number
          format: float
        - name: encargos
          in: query
          description: Porcentagem sobre o Preço de Venda.
          required: true
          type: number
          format: float
      responses:
        '200':
          description: Cálculo realizado com sucesso.
          schema:
            $ref: '#/definitions/Lucro'
        '400':
          description: Erro na Requisição (Parâmetros inválidos).
  /custo:
    get:
      tags:
        - custo
      summary: Calcule o Custo Total Unitário do produto.
      description: >-
        Aqui é retornado o Custo Total Unitário do Produto, de acordo com os
        dados passados no parâmetro. 

        Fórmula:

        C = P(1-E)/(1+M) 

        Legenda:

        P - Preço de Venda

        C - Custo Total Unitário

        M - Margem de Lucro

        E - Encargos
      produces:
        - application/xml
        - application/json
      parameters:
        - name: venda
          in: query
          description: Preço de Venda do produto.
          required: true
          type: number
          format: float
        - name: encargos
          in: query
          description: Porcentagem sobre o Preço de Venda.
          required: true
          type: number
          format: float
        - name: lucro
          in: query
          description: Margem de Lucro aplicada sobre o Custo Total Unitário.
          required: true
          type: number
          format: float
      responses:
        '200':
          description: Cálculo realizado com sucesso.
          schema:
            $ref: '#/definitions/Custo'
        '400':
          description: Erro na Requisição (Parâmetros inválidos).
definitions:
  Venda:
    type: object
    properties:
      valor:
        type: number
        format: float
    xml:
      name: Venda
  Lucro:
    type: object
    properties:
      porcentagem:
        type: number
        format: float
    xml:
      name: Lucro
  Custo:
    type: object
    properties:
      valor:
        type: number
        format: float
    xml:
      name: Custo
externalDocs:
  description: Veja mais detalhes sobre os cálculos
  url: 'https://github.com/junioweb/precificacao'
